includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        # SDK response properties accessed dynamically
        - '#Access to an undefined property BeeCoded\\EFacturaSdk\\Data\\Response\\ListMessagesResponseData::#'
        # Trait analysis (expected)
        -
            identifier: trait.unused
        # Interface method from Model
        - '#Call to an undefined method BeeCoded\\EFactura\\Contracts\\EFacturaUploadableInterface::getKey#'
    excludePaths:
        - vendor
